@model On3SpiderMVC.ViewModels.FileUploadViewModel

@{
    ViewBag.Title = "Home Page";
}

@section css {

}

@section scripts {

}

<div class="row">
    <div class="col-sm-12">

        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new {@id = "uploadForm", @enctype = "multipart/form-data"}))
        {
            <p>Please select a file to upload.</p>
            <input type="file" name="fileUpload"/>
            <input type="submit" id="fileUploadSubmit" value="Upload"/>
        }
    </div>
</div>